<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Content Types</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">

    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Workflows</th>
      </tr>
      </thead>
      <tr *ngFor="let contentType of contentTypes" >
        <td>

          <a [routerLink]="'/content-type/' + contentType.name">{{contentType.name}}</a>
        </td>
        <td>
          <a [routerLink]="'/workflows/' + workflow" *ngFor="let workflow of contentType.workflows">{{workflow}}</a>
        </td>
      </tr>
    </table>
  </div>
</div>
