<div class="card border-left-primary shadow h-100 ">

  <div class="card-body" *ngIf="content && contentType">

    <ngb-tabset justify="justified">
      <ngb-tab title="Content">
        <ng-template ngbTabContent>

          <!-- Card Body -->
          <div class="card-body">
            <div class=" py-3 d-flex flex-row align-items-center justify-content-between">
              <span>
                <h5>{{content.name}}</h5>
              </span>
              <span>
                <h6><strong>Type: </strong>
                  <a [routerLink]="'/content-type' + content.type">{{content.type}}</a> | <strong>State:</strong> <span class="badge badge-primary mr-1 ml-1">{{content.state}}</span> | <strong>Version:</strong> {{content.version}}</h6>
              </span>
            </div>
            <hr>

            <form>

              <div class="form-group" *ngFor="let field of contentType?.fields">
                <label>{{field.name}}</label>
                <app-content-field [state]="state" [value]="content.content[field.name]" [field]="field"
                                   (valueChange)="content.content[field.name] = $event"></app-content-field>

              </div>

            </form>

            <hr>
            <div class="d-flex justify-content-between">
              <span></span>
              <span *ngIf="state == 'view'" class="btn  btn-outline-primary float-right"
                    (click)="state = 'edit'">
          <i class="fa fa-edit"></i>
          edit
        </span>
            </div>

            <div class="d-flex justify-content-between" *ngIf="state == 'edit'">
        <span>
          <span *ngIf="state == 'edit'" class="btn  btn-outline-success mr-2" (click)="save()">
            <i class="fa fa-save"></i>
            save
          </span>
          <span *ngIf="state == 'edit'" class="btn  btn-outline-warning " (click)="cancel()">
             <i class="fa fa-trash"></i>
            cancel
          </span>
        </span>
              <span>
          <span *ngIf="state == 'edit'">
            <span class="btn   btn-outline-primary mr-2" *ngFor="let action of getAvailableActions(content)"
                  (click)="executeAction(action.name)">
              <i class="fa fa-gears"></i>
              {{action.name}}
            </span>

          </span>
        </span>
            </div>
          </div>
        </ng-template>

      </ngb-tab>
      <ngb-tab title="Metadata">
        <ng-template ngbTabContent>
          <div class="card-body">


            <table class="table table-striped">
              <thead>
              <tr>
                <th>Property</th>
                <th>Value</th>
              </tr>
              </thead>

              <tr>
                <th>Id</th>
                <td>{{content.id}}</td>
              </tr>
              <tr>
                <th>Name</th>
                <td>{{content.name}}</td>
              </tr>
              <tr>
                <th>Version</th>
                <td>{{content.version}}</td>
              </tr>
              <tr>
                <th>Modified</th>
                <td>{{content.modified | date: 'medium'}}</td>
              </tr>
              <tr>
                <th>Created</th>
                <td>{{content.created | date: 'medium'}}</td>
              </tr>
              <tr>
                <th>Workflow</th>
                <td>{{content.workflow}}</td>
              </tr>
              <tr>
                <th>State</th>
                <td>{{content.state}}</td>
              </tr>
              <tr>
                <th>Owner</th>
                <td>{{content.owner}}</td>
              </tr>
              <tr>
                <th>Created By</th>
                <td>{{content.createdBy}}</td>
              </tr>
              <tr>
                <th>Last Modified By</th>
                <td>{{content.modifiedBy}}</td>
              </tr>
              <tr>
                <th>Assigned Group</th>
                <td>{{content.assignedGroup}}</td>
              </tr>
              <tr>
                <th>Assigned User</th>
                <td>{{content.assignedUser}}</td>
              </tr>
              <tr>
                <th>Permissions</th>
                <td>
                  <table class="table table-sm bg-white ">
                    <thead>
                      <tr class="bg-white">
                        <th></th>
                        <th>read</th>
                        <th>write</th>
                      </tr>
                    </thead>
                    <tr class="bg-white">
                      <th>owner</th>
                      <td><app-boolean-indicator [value]="content.permissions.owner.read"></app-boolean-indicator></td>
                      <td><app-boolean-indicator [value]="content.permissions.owner.write"></app-boolean-indicator></td>
                    </tr>
                    <tr class="bg-white">
                      <th>assignee</th>
                      <td><app-boolean-indicator [value]="content.permissions.assignee.read"></app-boolean-indicator></td>
                      <td><app-boolean-indicator [value]="content.permissions.assignee.write"></app-boolean-indicator></td>
                    </tr>
                    <tr class="bg-white">
                      <th>other</th>
                      <td><app-boolean-indicator [value]="content.permissions.other.read"></app-boolean-indicator></td>
                      <td><app-boolean-indicator [value]="content.permissions.other.write"></app-boolean-indicator></td>
                    </tr>

                    <tr *ngFor="let g of content.permissions.group | keyvalue" class="bg-white">
                      <th>{{g.key}} (group)</th>
                      <td><app-boolean-indicator [value]="g.value.read"></app-boolean-indicator></td>
                      <td><app-boolean-indicator [value]="g.value.write"></app-boolean-indicator></td>
                    </tr>

                  </table>
                </td>
              </tr>
              <tr>
                <th>Indexed Versions</th>
                <td>
                  <table class="table table-sm bg-white ">
                    <thead>
                    <tr class="bg-white">
                      <th>Index</th>
                      <th>Version</th>
                    </tr>
                    </thead>


                    <tr *ngFor="let g of content.searchVersions | keyvalue" class="bg-white">
                      <th>{{g.key}}</th>
                      <td>{{g.value}}</td>
                    </tr>

                  </table>
                </td>
              </tr>
            </table>
          </div>
        </ng-template>

      </ngb-tab>
      <ngb-tab title="History">
        <ng-template ngbTabContent>
          <div class="card-body">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Version</th>
                  <th>State</th>
                  <th>Indexes</th>
                  <th>Date</th>
                  <th>Modified By</th>
                </tr>
              </thead>
              <tr *ngFor="let version of history.content">
                <td>{{version.version}}</td>
                <td>{{version.state}}</td>
                <td>{{indexesForVersion(version.version)}}</td>
                <td>{{version.modified | date: "short"}}</td>
                <td>{{version.modifiedBy}}</td>
              </tr>
            </table>

            <app-pager [page]="history" (pageChange)="pageChange($event)"></app-pager>


          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>


  </div>

</div>
