<div class="card border-left-primary shadow h-100 py-2 mb-6" *ngIf="result">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Result</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">


    <table class="table table-striped">
      <thead>
        <tr>

          <th>Name</th>
          <th>Score
            <span class="pull-right">
              <app-sort-control [field]="'_score'" [sort]="sort" (sortChanged)="setSort($event)"></app-sort-control>
            </span>
          </th>
          <th>Type</th>
          <th>State</th>
          <th>Version</th>
          <th>Modified
            <span class="pull-right">
              <app-sort-control [field]="'modified'" [sort]="sort" (sortChanged)="setSort($event)"></app-sort-control>
            </span>
          </th>
        </tr>

      </thead>

      <tr *ngFor="let content of result.content">

        <td>
          <a [routerLink]="'/content/' + content.type + '/' + content.id">{{content.name}}</a>
        </td>
        <td>{{content.score | number: '1.0-3'}}</td>
        <td>{{content.type}}</td>
        <td>{{content.state}}</td>
        <td>{{content.version}}</td>
        <td>{{content.modified | date: "short"}}

        </td>
      </tr>

    </table>

    <app-pager [page]="result" (pageChange)="setPage($event)"></app-pager>
  </div>
</div>
