<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Workflow: {{workflow?.name}}</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">


    <h5>Actions</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Entry Point</th>
          <th>Next State</th>
          <th>Allowed Source States</th>
          <th>Allowed Groups</th>
          <th>Hooks</th>
        </tr>
      </thead>
      <tr *ngFor="let action of workflow?.actions">
        <th>
          <span class="badge badge-pill badge-warning mr-2">{{action.name}}</span>
        </th>
        <td>
          <app-boolean-indicator [value]="action.entryPoint"></app-boolean-indicator>
        </td>
        <td>
          <span class="badge badge-pill badge-primary mr-2">{{action.nextState}}</span>
        </td>
        <td>
          <span *ngFor="let state of action.sourceStates"  class="badge badge-pill badge-primary mr-2">{{state}}</span>
        </td>
        <td>{{action.allowedGroups}}</td>
        <td>
          <div *ngFor="let hook of action.hooks">
            <app-config-view [value]="hook"></app-config-view>
          </div>
        </td>

      </tr>
    </table>
  </div>
</div>
