<ng-container [ngSwitch]="field.type">

  <app-date-field *ngSwitchCase="'Date'"  [field]="field" [value]="value" [state]="state" (valueChange)="valueChange.emit($event)"></app-date-field>
  <app-object-ref *ngSwitchCase="'ObjectRef'"  [field]="field" [value]="value" [state]="state" (valueChange)="valueChange.emit($event)"></app-object-ref>
  <app-collection *ngSwitchCase="'Collection'" [field]="field" [value]="value" [state]="state" (valueChange)="valueChange.emit($event)"></app-collection>
  <app-string *ngSwitchDefault                  [field]="field" [value]="value" [state]="state" (valueChange)="valueChange.emit($event)"></app-string>

</ng-container>
