<div class="card border-left-primary shadow h-100 ">
  <div class="card-header">
    Workflows
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>States</th>
          <th>Actions</th>
        </tr>
      <tr *ngFor="let workflow of workflows" >
        <td>
          <a [routerLink]="'/workflows/' + workflow.name">
            {{workflow.name}}
          </a>

        </td>
        <td>
          <span *ngFor="let state of workflow.states" class="badge badge-pill badge-primary mr-2">
            {{state.name}}
          </span>

        </td>
        <td>
          <span *ngFor="let action of workflow.actions" class="badge badge-pill badge-warning mr-2">
            {{action.name}}
          </span>

        </td>
      </tr>
      </thead>
    </table>
  </div>
</div>
