<div class="card border-left-primary shadow h-100 ">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Content Type: {{contentType?.name}}</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <h6>Workflows: {{contentType?.workflows}}</h6>

    <h6>Fields:</h6>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Required</th>
        <th>Indexed</th>
        <th>Config</th>
      </tr>
      </thead>
      <tr *ngFor="let field of contentType?.fields">
        <th>{{field.name}}</th>
        <td>{{field.type}}</td>
        <td>
          <app-boolean-indicator [value]="field.required"></app-boolean-indicator>
        </td>
        <td>
          <app-boolean-indicator [value]="field.indexed"></app-boolean-indicator>
        </td>
        <td>
          <app-config-view [value]="field.config"></app-config-view>
        </td>
        <td>

        </td>

      </tr>
    </table>
  </div>
</div>
