<nav aria-label="..." *ngIf="page && page.totalPages > 1 && page.totalPages < 10">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{disabled:page.number == 0}">
      <span class="page-link" (click)="setPage(page.number - 1)">Previous</span>
    </li>
    <li class="page-item" *ngFor="let p of pageNumbers" [ngClass]="{'active':p == page.number}"><span class="page-link" (click)="setPage(p)">{{p + 1}}</span></li>
    <li class="page-item" [ngClass]="{disabled:page.number == page.totalPages-1}">
      <span class="page-link" (click)="setPage(page.number + 1)" >Next</span>
    </li>
  </ul>
</nav>


<nav aria-label="..." *ngIf="page && page.totalPages >= 10">
  <ul class="pagination">

    <li class="page-item" [ngClass]="{disabled:page.number == 0}">
      <span class="page-link" (click)="setPage(page.number - 1)">Previous</span>
    </li>
    <li class="page-item" *ngFor="let p of surroundingPages" [ngClass]="{'active':p == page.number}"><span class="page-link" (click)="setPage(p)">{{p + 1}}</span></li>
    <li class="page-item" [ngClass]="{disabled:page.number == page.totalPages-1}">
      <span class="page-link" (click)="setPage(page.number + 1)" >Next</span>
    </li>
  </ul>
</nav>

<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary"><em>{{type}}</em> List</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">

    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>State</th>
        <th>Version</th>
        <th>Owner</th>
        <th>Last Modified</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tr *ngFor="let content of page.content" >
        <td>
          <a [routerLink]="'/content/' + type + '/' + content.id">{{content.name?content.name:content.id}}</a>
        </td>
        <td>{{content.state}}</td>
        <td>{{content.version}}</td>
        <td>{{content.owner}}</td>
        <td>{{content.modified | date:'medium'}}</td>
        <td>
          <span *ngFor="let action of getAvailableActions(content)">
            <span class="btn btn-sm btn-outline-primary mr-2" (click)="performAction(content,action)">
             {{action.name}}
            </span>

          </span>
        </td>

      </tr>
    </table>
  </div>
</div>
