<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary"><em>{{type}}</em></h6>
    <button class="btn btn-sm btn-success">Create</button>

  </div>
  <!-- Card Body -->
  <div class="card-body">



    <div >



    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>State</th>
        <th>Version</th>
        <th>Owner</th>
        <th>Last Modified</th>
        <th style="max-width: 17%">Actions</th>
      </tr>
      </thead>
      <tr *ngFor="let content of page?.content">
        <td>
          <a [routerLink]="'/content/' + type + '/' + content.id">{{content?.name?content.name:content.id}}</a>
        </td>
        <td>{{content.state}}</td>
        <td>{{content.version}}</td>
        <td>{{content.owner}}</td>
        <td>{{content.modified | date:'medium'}}</td>
        <td style="max-width: 17%">
          <span *ngFor="let action of getAvailableActions(content)">
            <span class="btn btn-sm btn-outline-primary mr-2 mb-2" (click)="performAction(content,action)">
             {{action.name}}
            </span>

          </span>
        </td>

      </tr>
    </table>

    <app-pager [page]="page" (pageChange)="setPage($event)"></app-pager>


    </div>
  </div>
</div>
