<div class="card border-left-primary shadow h-100 ">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary"><em>{{type}}</em></h6>
    <button class="btn btn-sm btn-outline-success" [routerLink]="'/create/'+type">
      <i class="fa fa-plus-circle"></i>
      Create
    </button>
  </div>
  <!-- Card Body -->
  <div class="card-body">



    <div >



    <table class="table table-striped content-list-table">
      <thead>
      <tr>
        <th>Name
          <span class="pull-right">
            <app-sort-control [field]="'name'" [sort]="sort" (sortChanged)="setSort($event)"></app-sort-control>
          </span>
        </th>
        <th>State
          <span class="pull-right">
            <app-sort-control [field]="'state'" [sort]="sort" (sortChanged)="setSort($event)"></app-sort-control>
          </span>
        </th>
        <th>Version
          <span class="pull-right">
            <app-sort-control [field]="'version'" [sort]="sort" (sortChanged)="setSort($event)"></app-sort-control>
          </span>
        </th>

        <th>Last Mod
          <span class="pull-right">
            <app-sort-control [field]="'modified'" [sort]="sort" (sortChanged)="setSort($event)"></app-sort-control>
          </span>
        </th>
        <th> By
          <span class="pull-right">
            <app-sort-control [field]="'modifiedBy'" [sort]="sort" (sortChanged)="setSort($event)"></app-sort-control>
          </span>
        </th>
        <th style="max-width: 17%">Actions</th>
      </tr>
      </thead>
      <tr *ngFor="let content of page?.content">
        <td>
          <a [routerLink]="'/content/' + type + '/' + content.id">{{content?.name?content.name:content.id}}</a>
        </td>
        <td>{{content.state}}</td>
        <td>{{content.version}}</td>

        <td>{{content.modified | date:'short'}}</td>
        <td>{{content.modifiedBy}}</td>
        <td style="max-width: 17%">
          <span *ngFor="let action of getAvailableActions(content)">
            <span class="btn btn-sm btn-outline-primary mr-2 mb-2" (click)="performAction(content,action)">
              <i class="fa fa-gears"></i>
             {{action.name}}
            </span>

          </span>
        </td>

      </tr>
    </table>

    <app-pager [page]="page" (pageChange)="setPage($event)"></app-pager>


    </div>
  </div>
</div>
